.notification {
  background: #e6e6e6;
  font-size: 20px;
  border-style: solid;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.notification.success {
  color: green;
  border-color: green;
}

.notification.error {
  color: red;
  border-color: red;
}
